body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30%;
}

button {
    width: 100px;
    margin: 10px;
    padding: 10px;
}

.result, .computer-choice {
    flex: 1;
    font-size: 30px;
}

.scores {
    font-size: 20px;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 40px;
}